.beautySpacePageImageSide {
    width: 50%;
    height: 600px;
    position: relative;
    display: flex;

    .greenCircleImage {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        position: absolute;
        top: 30%;
        left: 100px;
        z-index: 1;
    }

    .womanPicture {
        width: 350px;
        height: 500px;
        position: absolute;
        top: 10%;
        z-index: 2;
    }
}