$black : black;
$white : white;
$customWhiteColor : rgb(180, 215, 255);
$gray : #999999;
$secondGray : #666666;
$button-color : hsl(201, 92%, 24%);
$home-container-color: #DFE9F4;
$red : red;
$delivery-color : #F2F5FF;
$primaryButtonColor : #054C73;
$footerColor : #03344F;